* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sliderintro {
  background: black;
  color: white;	
  padding-top: 2em;
  padding-bottom: 2em;
}
#sliderintro:hover {
  cursor: pointer;
}
.sliderintro-item:not(:last-child) {
  margin-bottom: 2em;
}
.sliderintro-heading {
  margin-bottom: 1em;	
}
.sliderintro-container {
  padding: 0 0.5em;
}
.sliderintro-container div {
  padding-bottom: 0.5em;
}
.sliderintro-image {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  transition-property: opacity;
  transition-duration: 1.5s;
}
.sliderintro-image:hover {
  opacity: 0.8;
}
.sliderintro-title {
  text-transform: uppercase;
}
@media screen and (min-width: 500px) {
  .sliderintro-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 1em;
  }
  .sliderintro-title {
    word-wrap: break-word;
  }
  .sliderintro-item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  .sliderintro-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .sliderintro-image {
    width: 90%;
  }
  .sliderintro-container div {
    max-width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .sliderintro-item {
    width: 70%;
  }
  .sliderintro-image {
    width: 80%;
  }
  .sliderintro-container div {
    max-width: 60%;
  }
}