:root {
  --blue1: rgba(3, 138, 255);
}
.login-register-title {
  margin-top: 1em;
  text-align: center;
}
.login-container {
  padding-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.credentials-container {
  width: 100%;
}
.credentials-input {
  display: block;
  width: 100%;
  padding: 0.3em;	
  margin-bottom: 1em;
}
.credentials-input:focus {
  outline: none;
  border: 2px solid black;
}
.login-register-btn-container {
  margin: 0.5em 0;
}
.login-register-btn {
  background: var(--blue1);
  padding: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.login-register-btn:hover {
  outline: none;
  opacity: 0.7;
}
@media screen and (min-width: 350px) { 
  .credentials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .credentials-input {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  .login-container {
    min-height: 100vh;
    justify-content: flex-start;
  }
  .credentials-input {
    width: 70%;
    padding: 0.5em;
  }
  .login-register-btn {
    padding: 0.5em 0.7em;
  }
}
@media screen and (min-width: 800px) {
  .credentials-input {
    width: 60%;
    padding: 0.7em;
  }	
}
@media screen and (min-width: 1100px) {
  .credentials-input {
    width: 60%;
    padding: 0.9em;
  }	
}