:root {
  --blue1: rgba(3, 138, 255);
}
.reviewbox-container {
  padding: 0.5em;
}
.reviewbox-container div:not(:last-child) {
  margin-bottom: 0.6em;
}
.reviewbox-close {
  text-align: right;
}
.reviewbox-close-icon {
  width: 40px;
  cursor: pointer;
}
.reviewbox-textarea textarea {
  width: 100%;
  height: 250px;
  border: 2px solid black;
  outline: none;
  padding: 0.3em;
}
.post-review {
  cursor: pointer;
  padding: 0.5em;
  background: var(--blue1);
  color: white;
  border: none;
  border-radius: 5px;
}
.post-review:hover {
  opacity: 0.8;
}
@media screen and (min-height: 700px) {
  .reviewbox-textarea textarea {
    height: 300px;
    padding: 1em;
    margin-top: 200px;
  }
}
@media screen and (min-width: 500px) {
  .textarea-rating-container {
    width: 80%;
    margin: 0 auto 0.6em auto;
  }
  .reviewbox-textarea textarea {
    height: 200px;
  }
  .reviewbox-close-icon {
    width: 50px;
  }
}
@media screen and (min-width: 700px) {
  .textarea-rating-container {
    width: 70%;
  }
  .reviewbox-textarea textarea {
    padding: 0.5em;
  }
}
@media screen and (min-width: 900px) {
  .textarea-rating-container {
    width: 65%;	
  }
  .reviewbox-close-icon {
    width: 60px;
  }	
  .reviewbox-textarea textarea {
    padding: 0.7em;
  }
}
@media screen and (min-width: 1200px) {
  .textarea-rating-container {
    width: 70%;	
  }	
  .reviewbox-textarea textarea {
    height: 350px;
    padding: 1em;
  }
}
