/* testimonial section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #home-main {
  background: black;
} */
.testimonial-about-us {
  background: black;
  color: white;
  padding: 2em 0.8em;
  min-height: 300px;
}
.testimonial-item {
  text-align: center;
}
.testimonial-about-us h1 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.testimonial-about-us p {
  font-style: italic;
  line-height: 1.5em;
}
.testimonial-about-us span {
  display: block;
  margin-top: 1em;
}