#error-box {
  width: 100%;
  min-height: 50vh;
  padding: 1em 0;
}
#error-box div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#error-box svg {
  width: 40%;
  margin-bottom: 0;
}
#error-box h2 {
  text-align: center;
  margin-bottom: 1em;
}
#error-box p {
  text-align: left;
}
