
:root {
  --blue1: rgba(3, 138, 255);
}
.posts-container {
  padding: 1em;
}
.posts-container .single-post:not(:last-child) {
  margin-bottom: 1em;
}
.single-post {
  border: 2px solid var(--blue1);
  padding: 1em;
}
.single-post-owner {
  margin-bottom: 0.5em;
}
.single-post-owner * {
  font-weight: bold;
}
.single-post-links {
  margin-top: 1em;
  display: flex;
}
.single-post-links * {
  cursor: pointer;
}
.single-post-links *:hover {
  transform: scale(1.05);
  color: var(--blue1);
}
.single-post-links *:not(:last-child) {
  margin-right: 1em;
}
.load-btn {
  background: transparent;
  border: 2px solid black;
  padding: 0.5em;
  cursor: pointer;
}
.back-link {
  margin-bottom: 1em;
}
.load-btn:hover {   
  transform: scale(1.05)
}
.comments-section-item:not(:last-child) {
  margin-bottom: 0.5em;
}