* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-gif-container {
  padding: 1em;
  text-align: center;
  /* min-height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-gif {
  width: 80%;
}
@media screen and (min-width: 500px) {
  .loading-gif {
    width: 50%;		
  }
}
@media screen and (min-width: 700px) {
  .loading-gif {
    width: 40%;		
  }
}
@media screen and (min-width: 900px) {
  .loading-gif {
    width: 30%;		
  }
}
@media screen and (min-width: 1100px) {
  .loading-gif {
    width: 25%;		
  }
}