* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading-gif-container {
  padding: 1em;
  text-align: center;
  /* min-height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-gif {
  width: 100px;
}
@media screen and (min-width: 500px) {
  .loading-gif {
    width: 200px;		
  }
}