:root {
  --blue1: rgba(3, 138, 255);
}
#viewing-container {
  width: 100%;
}
.viewing-container-item {
  padding: 0.7em 0.5em;
}
.viewing-container-item-image {
  width: 100%;
}
.viewing-container-item-image-info-details {
  margin-top: 0.5em;
}
.viewing-container-item-description {
  margin-top: 1em;
}
.viewing-container-item-albums {
  margin-top: 1em;
}
.viewing-container-item-albums-item-container {
  margin-top: 1em;
}
.user-space-details *: not(:last-child) {
  margin-bottom: 0.8em;
}
.load-btn {
  background: transparent;
  color: var(--blue);
  margin-right: 1em;
  border: 3px solid var(--blue);
  padding: 0.2em;
  cursor: pointer;
}
.edit-btn {
  background: transparent;
  color: var(--blue);
  border: 3px solid var(--blue);
  padding: 0.2em;
  cursor: pointer;
}
.back-link {
  margin-bottom: 1em;
}
.load-btn:hover, .edit-btn:hover {
  transform: scale(1.05)
}
@media screen and (min-width: 500px) {
  .viewing-container-item {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "image image description description"
    "albums albums albums albums";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 1em;
  }
  .viewing-container-item-image {
    height: 350px;
  }
  .viewing-container-item-image-info {
    grid-area: image;
  }
  .viewing-container-item-description {
    grid-area: description;
  }
  .viewing-container-item-albums {
    grid-area: albums;
  }
  .viewing-container-item {
    padding: 0.5em;
  }
  .viewing-container-item-description {
    margin-top: 0;
  }
  .viewing-container-item-albums-item-image {
    width: 100%;
  }
  .viewing-container-item-albums-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1em;
    grid-auto-rows: auto;
  }
}

@media screen and (min-width: 900px) {
  #viewing-container {
    width: 80%;
  }
  .viewing-container-item-image {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  #viewing-container {
    width: 70%;
  }
  .viewing-container-item-image {
    height: 500px;
  }
}
