
/*begin of universal footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#universal_footer {
  color: white;
  background: rgba(0, 0, 0, 1);	
  margin-top: auto;
  width: 100%;
}
#universal_footer section {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
#universal_footer section ul {
  list-style-type: none;
  width: max-content;
}
#universal_footer section li {
  cursor: pointer;
}
#universal_footer section li:not(:last-child) {
  margin-bottom: 0.5em;
}
#universal_footer section li:hover {
  text-decoration: underline;
}
.social-links {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 0.5em;
  color: white;
}
.social-links a {
  text-decoration: none;
  color: white;
}
.social-links *:not(:last-child) {
  margin-bottom: 0.5em;
}
#universal_footer .universal_footer_container div:last-child {
  padding-bottom: 1.5em;
}
.footer_social_icons svg {
  border: 1px solid rgba(var(--border-color));
  padding: 0.5em;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  color: white;
  width: 100%;
}
.footer_social_icons i:not(:last-child) {
  margin-right: 1em;
}
.footer_social_icons i:hover {
  --border-color: 108, 122, 137, 0.2;	
  background: rgba(var(--border-color));
}
.universal_footer_container div:last-child section:last-child {
  text-align: center;
}
@media screen and (min-width: 750px) {
  .universal_footer_container .border {
    display: none;
  }
  .universal_footer_container_div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .footer_social_icons i:not(:last-child) {
    margin-right: 0.7em;
  }	
  .footer_social_icons div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #universal_footer section {
    padding-left: 0;
  }
  .universal_footer_container .universal_footer_container_div:first-child {
    margin-bottom: 2em;
  }
  .border-visible {
    width: 100%;
    height: 1px;
    background: rgba(var(--border-color));
    margin: 0 auto;
  }
  .universal_footer_container .universal_footer_container_div:last-child {
    align-items: baseline;
  }
}
@media screen and (min-width: 900px) {
  .universal_footer_container div {
    width: 70%;
  }
  .footer_social_icons i {
    padding: 0.7em;
  }
  .footer_social_icons i:not(:last-child) {
    margin-right: 1em;
  }
}
@media screen and (min-width: 1100px) {
  .universal_footer_container div {
    width: 60%;
  }
  .footer_social_icons i {
    padding: 0.8em;
  }
}
/*end of universal footer*/
